* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  color: aquamarine;
  background-color: #1f1d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}

.Logo {
  margin: 0px 30px;
}

.Win {
  margin-left: auto;
}

.Indicator {
  height: 20px;
  width: 20px;
  background-color: #e3040a;
  margin: 0px 30px;
  border-radius: 20px;
}

.Main {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding: 80px 0px;
  background-color: #323d3c;
  height: 88vh;
}

table,
tr,
td {
  border: 3px solid black;
}

table {
  border: none;
}

td {
  border-radius: 8px;
}

td {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #34352f;
}
